<section id="reviews" class="reviews">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-12 text-center py-5">
        <h2 class="pb-3 border-bottom border-dark">Что о нас говорят</h2>
      </div>
      <div class="d-flex justify-content-center flex-wrap">
        <div class="card bg-light">
          <h4 class="card-header">Екатерина Смоленцева</h4>
          <div class="card-body">
            <p class="card-text">
              Хочу поблагодарить замечательного врача Бубнову Светлану Андреевну за ее профессионализм, внимательное, чуткое
              и душевное отношение к пациентам. Спасибо Вам, Светлана Андреевна, за Вашу работу! Первый раз сделала зуб
              где-то 2 года назад,пломбу сделали изумительно,не отличить до сих пор.Теперь хожу только сюда и всем советую:)
            </p>
          </div>
        </div>
        <div class="card bg-light">
          <h4 class="card-header">Наветова</h4>
          <div class="card-body">
            <p class="card-text">Не раз ходила к Светлане Андреевне и всегда была довольна результатом. Она очень хороший
              человек, а самое главное - специалист, знающий своё дело!
              Светлана Андреевна переделывала некачественные работы других докторов, к которым я ходила до неё, дала очень
              много полезных рекомендаций и решила ряд моих проблем, с которыми я не могла справиться долгие годы.
              Теперь на лечение только к ней.
            </p>
          </div>
        </div>
        <div class="card bg-light">
          <h4 class="card-header">Михаил</h4>
          <div class="card-body">
            <p class="card-text">
              Обратился в клинику “Доктор ЗуБноВ” впервые и остался очень доволен как 
              самим процессом лечения, так и результатом. Случай был запущенный, поэтому 
              пришлось посещать врача несколько раз. Хотел выразить огромную благодарность 
              врачу-стоматологу Бубновой Светлане Андреевне. Это высококлассный специалист 
              и очень доброжелательный человек, который всегда очень ответственно выполняет
              свою работу и учитывает пожелания пациента.              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>