<section class="my-4">
  <div id="services" class="container">
    <div class="text-center">
      <h2 class="pb-3 border-bottom border-dark">Предоставляемые услуги</h2>
    </div>
    <div class="d-flex justify-content-center flex-wrap align-items-center">
      {% for category in service_categories %}
          
          <div class="card m-2">
            <img src="{{category.image.url}}" class="card-img-top" alt="service">
            <div class="card-body text-center d-grid p-0">
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#{{category.name}}">
                {{category.name}}  <i class="fas fa-external-link-alt"></i>
              </button>
            </div>
          </div>

          <div class="modal fade" id="{{category.name}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{category.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Услуга</th>
                        <th>Стоимость</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for service in category.service_set.all %}
                        <tr>
                          <td>{{service.name}}</td>
                          <td>{{service.price}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div> 
      {% endfor %}
    </div>
  </div>
</section>